@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Play:wght@400;700&display=swap');

:root {
  --color-brand-green: #8fd919;
  --color-brand-green--light: #a5dd58;
  --color-error: #fd4b60;
  --color-text: #fff;
  --color-text--muted: #999999;
  --color-border--bright: #505050;
  --color-border: #4c4c4c;
  --color-bg-interactive: #313131;
  --color-bg-interactive--active: #3a3a3a;
  --color-bg: #202020;

  --border: 1px solid var(--color-border);

  --font-brand: "Play", sans-serif;
  --font-normal: "IBM Plex Sans", sans-serif;
  --font-code: "IBM Plex Mono", monospace;

  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-normal), sans-serif;
  font-weight: 400;
  font-style: normal;
}

body, html {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

code {
  font-family: var(--font-code), monospace;
}

h1, h2, h3 {
  font-family: var(--font-brand);
  font-weight: bold;
  margin: 0;
}

input, textarea, button {
  font: inherit;
  color: inherit;
}
